.timer{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10%;
    font-size: 1.55rem;
    background-color: azure;
    gap:50px;
}
.errtxt{
    display: flex;
    justify-content: center;
    color: red;
    font-size: 32px;

}
.clock{
    background-color: goldenrod;
    font-size: 35px;
    color: aquamarine;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.clock{
    background-color: goldenrod;
    font-size: 35px;
    color: aquamarine;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}